<!DOCTYPE html>
<html>
    <head>
        <title>What's Your Age</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css')}}">
    </head>
    <body>
      <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png">
      <br>
      <form action="/add" method="post">
      {% for message in get_flashed_messages()%}
        <p> {{message}} </p>
      {% endfor %}
        <br>
        <input type="number" name="num1_input" placeholder="Year of Birth">
        <br>
        <input type="submit" value="myAge" id="age">
        <br>
      {% for message in get_flashed_messages()%}
        <p> Developed by Nosa </p>
      {% endfor %}
      </form>
    </body>
</html>