<!DOCTYPE html>
<html>
    <head>
        <title>Subtract Numbers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css')}}">
    </head>
    <body>
      <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png">
      <br>
      <form action="/multiply" method="post">
      {% for message in get_flashed_messages()%}
        <p> {{message}} </p>
      {% endfor %}
        <br>
        <input type="number" name="num1_input" placeholder="Higher Number">
        <br>
        <input type="number" name="num2_input" placeholder="Lower Number">
        <br>
        <input type="submit" value="SUBTRACT" id="subtract">
        <br>
      {% for message in get_flashed_messages()%}
        <p> Developed by Nosa </p>
      {% endfor %}
      </form>
    </body>
</html>